:root {
    --title-color: #2E2F42;
    --content-color: #434455;
    --logo-color: #4d5ae5;
    --hover-list-color: #404bbf;
    --btn-border: #e7e9fc;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    color: var(--content-color);
    background-color: #FFFFFF;
}
main {
    flex-grow: 1;
}
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
img {
    display: block;
}

.container {
    /* display: flex; */
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    /* justify-content: center; */
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}

/* MAIN PAGE */
/* header */
.header {
    border-bottom: 1px solid var(--btn-border);
}

.container-header{
    display: flex;
}
.logo-navigation {
    display: flex;
    align-items: center;
}
.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--logo-color); 
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px
}
.logo-studio{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--title-color);
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.navigation {
    display: flex;
    gap: 40px;
    margin-right: 332px;
}

.navigation-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    padding: 24px 0;
}
.navigation-item-link:hover,
.navigation-item-link:focus {
    color: var(--hover-list-color);
}
.contacts-box {
    font-style: normal;
}
.contacts {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.contacts-item-link {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--content-color);
}
.contacts-item-link:hover,
.contacts-item-link:focus {
    color: var(--hover-list-color);
}
/* section hero */
.hero{
    background: var(--title-color);
    padding: 188px 0;
}
.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0 auto 48px auto;
    max-width: 496px;
}
.btn-order {
    background-color: var(--logo-color);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
}
.btn-order:hover,
.btn-order:focus {
    background: #404BBF;
}
/* section advantages */
.advantages {
    padding: 120px 0;
}
.advantages-items{
    display: flex;
    gap: 24px;
}
.advantages-card {
    width: calc((100% - 72px) / 4);
}
.advantages-card-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: start;
    line-height: 1.2;
    margin-bottom: 8px; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-card-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* section ability */
.ability{
    padding-bottom: 120px; 
}
.chapter-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px; 
}

.ability-items {
    display: flex;
    gap: 24px;
    
}
.ability-card {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: calc((100% - 48px) / 3); 
    justify-content: center;
}
/* section team */
.team {
    background: #F4F4FD;
    padding: 120px 0;
}
.team-item{
    background: #FFFFFF;
}
.chapter-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    text-align: center;
    line-height: 1.11;
    margin-bottom: 72px; 
}
.team-cards {
    display: flex;
    gap: 24px; 
}
.team-item {
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px; 
}
.wrap-name {
    padding: 32px 16px;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    line-height: 1.2;
    margin-bottom: 8px;
}
.team-job {
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.5;
}
/* section footer */
.footer {
    padding: 100px 0;
    background: var(--title-color);
}
.logo-link-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-studio-footer{
    color: #F4F4FD;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-content {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}


/* PORTFOLIO */
.projects {
    padding-top: 96px; 
    padding-bottom: 120px; 
}
/* btn navigation */
.btns-filters {
    display: flex; 
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.btns-filters-btn{
    font-family: "Roboto", sans-serif;
    background: #F4F4FD;
    border: 1px solid var(--btn-border);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px; 
}
.btns-filters-btn:hover,
.btns-filters-btn:focus {
    background: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent;
}
/* section projects */
.projects-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
}
.project-card {
    width: calc((100% - 48px) / 3); 
}
.wrap-card-project {
    padding: 32px 16px;
    border: 1px solid var(--btn-border);
    border-top: none; 
}
.project-card-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--title-color);
    line-height: 1.2;
    margin-bottom: 8px;
}
.project-card-content {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--content-color);
    line-height: 1.5;
}